<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.expleo.org/sarch/dsl/SoftwareArchitectureDsl"
			class = "org.expleo.sarch.dsl.softwareArchitectureDsl.SoftwareArchitectureDslPackage"
			genModel = "model/generated/SoftwareArchitectureDsl.genmodel" />
	</extension>
</plugin>
